on:
  workflow_dispatch:
  push:
    branches: ['main', 'dev-*']
  pull_request:
  release:
    types: [published]

jobs:
  build-docs:
    name: "Build Docs"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
#      - uses: actions/setup-python@v2
#        with:
#          python-version: 3.8
#      - uses: r-lib/actions/setup-r@v2
#        with:
#          use-public-rspm: true

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.110.0'
          # extended: true
          #
      - name: Build docs
        run: |
          make build
      - name: Save docs artifact
        uses: actions/upload-artifact@v3
        with:
          name: public
          path: public/

  preview-docs:
    name: "Preview Docs:"
    runs-on: ubuntu-latest
    needs: ["build-docs"]
    if: "${{github.event_name == 'pull_request' && !github.event.pull_request.head.repo.fork }}"

    steps:
      - uses: actions/download-artifact@v3
        with:
          name: public
          path: public

      # Determine the release name ---

      - name: Configure pull release name
        if: ${{github.event_name == 'pull_request'}}
        run: |
          echo "RELEASE_NAME=pr-${PR_NUMBER}" >> $GITHUB_ENV
        env:
          PR_NUMBER: ${{ github.event.number }}

      # create deployment ----

      - name: Create Github Deployment
        uses: bobheadxi/deployments@v0.4.3
        id: deployment
        with:
          step: start
          token: ${{ secrets.GITHUB_TOKEN }}
          env: ${{ env.RELEASE_NAME }}
          ref: ${{ github.head_ref }}
          transient: true
          logs: 'https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}'

      # push docs ----

      - name: Netlify docs preview
        run: |
          npm install -g netlify-cli
          # push main branch to production, others to preview --
          netlify deploy --dir=public --alias="${ALIAS}"
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          ALIAS: ${{ steps.deployment.outputs.env }}

      # update deployment ----

      - name: Update Github Deployment
        uses: bobheadxi/deployments@v0.4.3
        if: ${{ always() }}
        with:
          step: finish
          token: ${{ secrets.GITHUB_TOKEN }}
          status: ${{ job.status }}
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}
          env_url: 'https://${{ steps.deployment.outputs.env }}--machow-web.netlify.app'
          logs: 'https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}'

  deploy-docs:
    name: "Deploy Docs"
    if: "${{github.ref == 'refs/heads/main'}}"
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: public
          path: public
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public

